<!DOCTYPE html>
<html>
    <head>
        <title>Oz | Customer</title>
        <link rel="stylesheet" href="css/customStyle.css">
        <link rel= "shortcut icon" href="img/favicon.png" type="image/x-icon">
    </head>
    <body>

        <section>
            <header>
                <h2>Oz🏦</h2>
                <a href="/customer-dashboard">home</a>
                <a href="/transfer">transfer</a>
                <a href="/transaction">transaction</a>
                <a href="/customer-logout">logout</a> 
            </header>
            <main>
                <form action="/customer" method="post">
                    <% if(success != 'undefined') { %>
                    <p style="color: #fff"> <%- success %> </p>
                    <% } %>
                    
                    <% if(errMsg != 'undefined'){ %>
                        <p style="color: red"> <%= errMsg %> </p>
                        <% } %>
                        
                        <label>Email: </label>
                            <input type="text" name="email"
                            value="<%= typeof email != 'undefined' ? email : '' %>"></p>
                        <label>Password: </label>
                            <input type="text" name="password"
                            value="<%= typeof password != 'undefined' ? password : '' %>"></p>
                        
                        <button type="submit"> Login </button>   
                        <button type="reset"> Reset </button>   
                </form>    
            </main>
            <footer>
                <p>©️ <script> document.write(new Date().getFullYear().toString()) </script> OzBank Plc.</p>
                <div><a href="http:/"><button>Admin</button></a></div>
            </footer>
        </section>
    </body>
</html>