<!DOCTYPE html>
<html>
    <head>
        <title>Online Bank</title>
        <style type="text/css">
            body{
                background-color: rgb(98, 94, 100);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            a{
                text-decoration: none;
                letter-spacing: 1px;
            }
            a:hover{
                background-color:blanchedalmond;
                border: 2px salmon;
            }
            section{
                border: 5px solid #583344;
                width: 50%;
                height: 500px;
                position: relative;
                text-align: center;
                font-size: 15px;
                margin: 5% auto;
                color: burlywood;
            }
            container{
                border-radius: 5px;
                padding: 5px;
                top: 70px;
                position: relative;
                text-align: center;
            }

        </style>
    </head>
    <body>
        <section>
            <container>
                <h2>My BankApp</h2>
                <p><a href="/">bank app</a></p>
                <p><a href="/signup">signup page</a></p>

            
            <h4>Banker Sign In</h4>
            <form action="/signin" method="post">

            <% if(success != 'undefined') { %>
                <p style="color: white"> <%- success %> </p>
            <% } %>
                
            <% if(er_msg != 'undefined'){ %>
                <p style="color: red"> <%= er_msg %> </p>
            <% } %>

            <p>Username: <input type="text" name="username"
                    value="<%= typeof username != 'undefined' ? username : '' %>"></p>
                <p>Password: <input type="text" name="password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"></p>
                
                <input type="submit" value="click to submit">
            </form>
            </container>
        </section>        
    </body>
</html>