<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
</head>
<body>
    <section>
        <header>
            <h2>oz🏦</h2>
            <a href="/signup">register</a>
            <a href="/signin">login</a>
            <a class="cta" href="/customer"> <button>TheBank</button></a>
        </header>
        <main>
        <form action="signin" method="post">
            <% if(success != 'undefined'){%>
                <p style="color: greenyellow;"><%- success %></p>
            <% }%>
            <% if(errMsg != 'undefined'){%>
                <p style="color: red;"> <%- errMsg %> </p>
            <% } %>
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" value="<%= typeof username != 'undefined' ? username : '' %>">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" name="password" value="<%= typeof password != 'undefined' ? password : '' %>"> 
        </p>
        <p>
            <button type="submit">submit</button>
            <button type="reset">reset</button>
        </p>
    </form>
</main>
<footer>
    <small>
        ©️ <script> document.write(new Date().getFullYear().toString()) </script> OzBank Plc.
    </small>
</footer>
</section>
    
</body>
</html>