* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(98, 94, 100);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section{
    display: grid;
    margin: auto;
    border: 5px solid #583344;
    width:auto;
    height: 100vh;
    color: burlywood;
    

    & a{
        text-decoration: none;
        letter-spacing: 1px;
    }
    a:hover{
        background-color: burlywood;
        color: #583344;
    }
}

header, main, footer{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    
        & ul, li {
            list-style-type: none;
            display: flex; 
        }
        & a {
            display: inline-block;
            border: none;
            color: rgb(98, 94, 100);
            padding: 5px;
            border: 1px solid burlywood;;
        } 

        & a:hover  {
            cursor: pointer;
            padding: 5px;
            background-color: rgb(98, 94, 100);
            text-transform: uppercase;
            color: burlywood;
            
        }        
}

header {
    justify-content:space-evenly;
    background-color: #583344;
    height: 10vh;
}
main {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    height: 78vh;
    scroll-behavior: smooth;
    overflow-y: auto;

        & label{
            display: grid;
            align-items: center;
        }

        & input, h4 {
            margin-bottom: 10px;
        }
        & button {
            display: inline-block;
            background-color: #583344;
            height: 30px;
            width: 60px;
            border: none;
        }
        & button:hover{
            background-color: rgb(98, 94, 100);
            padding: 5px;
            text-transform: uppercase;
            color: burlywood;
            cursor: pointer;
            border: 1px solid #583344;
        }
        & aside{
            flex-direction: row;
            flex-wrap: wrap;
        }
        & article{
            background-color:#583344;
            /* flex-grow: 1; */
            justify-content: flex-start;
            align-items: center;
        }
        & article>p {
            padding: 5px;
            border-bottom: 2px solid #fff;
        }
        & table> tr {
            border-bottom: 1px solid #fff;
        }
        & table {
        
            tr {
                padding: 5px;
                border: 2px solid white;       
            }
            & tr:hover{
                cursor: pointer;
                text-transform: uppercase;
                padding: 5px;
                background-color: #583344;
            }
        }        
        .active {
            background-color: rgb(98, 94, 100);   
        }
        & .active:hover{
            background-color: rgb(98, 94, 100);
            text-transform: none;
            font-size: 16px;
        }
}


footer {
    background-color: #583344;
    height: 10vh;
    font-size: 0.5rem;
    justify-content: center;
    position: relative;
    bottom: 0px;

        & button {
            justify-content: end;
            background-color: rgb(98, 94, 100);;
        }
}

