<!DOCTYPE html>
<html>
    <head>
        <title>Oz | <%- title%></title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    </head>
    <body>
        <section>
            <header>
                <h2>🏦</h2>
                <a href="/dashboard">home</a>
                <a href="/addcustomer">addcustomer</a>
                <a href="/viewcustomer">viewcustomer</a>
                <a href="/logout">logout</a>
            </header>